.card-package{
    height: 100%;
}
a{
    text-decoration: none;
}
.menu-alert-icon {
    height: 16px;
    width: 16px;
    font-size: 16px;
    margin-top: -5px;
    margin-left: 5px;
}
a.help {
    margin-left: 485px;
}